.input-flex{
  display: flex;
  width: 100%;
   justify-content: flex-start;
  align-items: center;
  box-shadow: var(--shadow-box);
  gap: 0.5rem;
  padding: 0rem 0.5rem;
  margin: 1rem 0.2rem;
  height: 2rem;
}
.input-flex input{
  width: 70%;
  padding: 0.22rem 0.2rem;
  margin: 1rem 0.3rem;
  border:none;
}
.input-flex img{
  width: 1.5rem;
  padding: 0.3rem;
  border: 0;
 }
.input-flex input:focus{
  outline: none;
}
.inputandselect{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  
}
.select-input{
margin: 1rem 0.5rem;
width: 15%;
box-shadow: var(--shadow-box);
}
.sorts{
  display: flex;
  align-items: center;
  margin: 0.75rem;
  justify-content: flex-end;
}
.heading{
  display: flex;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  margin: 0;
  text-decoration: underline;
  text-decoration-thickness: 0.09rem ;
  color: gray ;
}
.btn-blue {
  background-color: var(--theme);
  color: #fff;
}

.btn-blue:hover {
  background-color: #fff !important;
  color: var(--theme) !important;
  transition: all 0.3s;
}